.tabcontent {
    width: 100%;
    height: 250px;
    position: sticky;
    margin: 10px;
    top: 100px;
    border: 3px solid #50d8af;
    border-radius: 8px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1), 0 0 22px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    aside {
        display: none;
    }
}

.recommend-header {
    position: sticky;
    height: fit-content;
    background-color: #50d8af;
    color: #fff;
    text-align: left;
    font-size: 20px;
    padding: 3px;
}

.is-collapsed {
    height: 240px;
    overflow-y: scroll;
}

.syllabus-chapter {
    display: flex;
    margin: 5px;
    border-bottom: 1px solid #D9D9D9;
}

.syllabus-chapter .title {
    margin: 5px;
}

.syllabus-chapter i {
    margin: 5px;
    text-align: center;
}

.syllabus-chapter-title {
    font-weight: 500;
}

.video-info-recommend {
    margin: 5px 0 0 5px;
}

.creator-name {
    line-height: 80%;
}