.section-title.text-primary {
    font-size: xx-large;
    margin: 5px;
}
.title {
    font-size: xx-large;
    margin: 5px;
}

div .image:hover {
    opacity: 0.5;
    content: "upload image here";
    justify-content: center;
    color: #000;
}